
@font-face{
    font-family: 'Allerta Stencil', sans-serif;
    src: url(fonts/AllertaStencil-Regular.ttf) format('truetype');
}

body{
padding: 5rem;
}
header{
    display: flex;
    flex-direction: row;
}

a{
    color: black;
    text-decoration: none;
}

.navigation{
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    height: 3rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.icon-container .search{
  height: 13px;
  width: 14px;
}

.icon-container .shop{
  height: 15px;
  width: 15px;
}


.icon-container .user{
    height: 18px;
    width: 18px;
  }

.link:hover{
    text-decoration: underline;
}
.link{
    display: inline-block;
    width: 5rem;/*Separar los elemento del header*/
}
.icon-container{
    display: inline-block;
    width: 3rem;/*Separar logos de la barra*/
}
.separator{
    display: inline-block;
    width: 3rem;
    font-size: 1.4rem;
    color: gray;
}

.logo{
    font-family: "Allerta Stencil";
    font-size: 35px;
}

.logo .first-letter{
    color: #A18A68;
}